{
  "presets": [
    "@babel/preset-react",
    "@babel/preset-env",
    "@babel/preset-stage-0"
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "helpers": false
      }
    ]
  ]
}
